div{
    opacity: .9;
}
.div1 {
    height          : 80px;
    border          : 1px dashed #669966;
    background-color: #ccffcc;
    position        : relative;
    z-index         : 2;

}

.div2 {
    left      : 50%;
    border    : 1px dashed rgb(134, 28, 28);
    background: rgb(194, 158, 40);
    position  : absolute;
    width     : 300px;
    height    : 400px;
    z-index   : 1;
}

.div3 {
    height          : 80px;
    border          : 1px dashed #669966;
    background-color: #ccffcc;
    position        : relative;
    z-index         : 1;
}

.div2:hover {
    z-index: 2;
}

.div4 {
    left      : 40%;
    border    : 1px dashed rgb(134, 28, 28);
    background: rgb(194, 40, 40);
    position  : absolute;
    width     : 300px;
    height    : 400px;
    z-index   : 2;
}

.div41 {
    left      : 30%;
    border    : 1px dashed rgb(45, 17, 88);
    background: rgb(95, 47, 172);
    position  : absolute;
    width     : 300px;
    height    : 400px;
    z-index   : 3;

}

.div5 {
    height          : 80px;
    border          : 1px dashed #669966;
    background-color: #ccffcc;
    position        : relative;
}

.div6 {
    left      : 60%;
    border    : 1px dashed rgb(28, 100, 22);
    background: rgb(24, 168, 36);
    position  : relative;
    width     : 300px;
    height    : 400px;
    z-index   : -1;
}